chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1744743132636/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1752722720021/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1749160236573/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1751493925778/work
matplotlib==3.10.3
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1752612953/work/dist/numpy-2.3.1-cp313-cp313-macosx_10_13_x86_64.whl#sha256=6921851bacff2ef3313de1a53cbfb41423f02716dd6c61917023151e9ef9812c
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1752081788216/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1751482060928/work
pycairo==1.28.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
rdkit @ file:///Users/runner/miniforge3/conda-bld/rdkit-meta_1751349883500/work
reportlab @ file:///Users/runner/miniforge3/conda-bld/reportlab_1747315445512/work
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1747298885983/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
